@charset "UTF-8";
* {
  animation-fill-mode: backwards;
  transition: all 0.5s;
}

.bg_cover {
  background-size: cover;
  background-position: center center;
}

body {
  background-image: url(../images/RWD/GameFeaturesMobile_BG.avif);
}
body p {
  text-indent: 2em;
}
body h3:hover, body p:hover {
  font-weight: 900;
}
body i:hover {
  color: transparent;
  background-image: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
}
body section {
  position: relative;
  overflow: hidden;
}
body .divider {
  background-image: url(../images/Divider.webp);
  height: 15px;
}
body video {
  box-sizing: border-box;
  border: 30px solid;
  border-image-source: url(../images/icon/mediaFrame.png);
  border-image-slice: 4%;
  border-image-repeat: repeat;
}
body #s02 {
  opacity: 0.25;
}
body #s02:hover {
  opacity: 1;
}
body #s04 [class*=counter] {
  box-sizing: border-box;
  border: 50px solid;
  border-image-source: url(../images/icon/mediaFrame.png);
  border-image-slice: 15%;
  border-image-repeat: repeat;
}
body #s05 {
  background-image: url(../images/Feature_News.avif);
}
body #s05 .timeline {
  position: relative;
}
body #s05 .timeline::before {
  content: "";
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  background-color: #966F33;
  right: 50%;
  transform: translate(50%);
}
body #s05 .timeline .time-point {
  position: relative;
}
body #s05 .timeline .time-point:nth-child(even) {
  flex-direction: row-reverse;
}
body #s05 .timeline .time-point:hover::after {
  width: 16px;
  height: 16px;
}
body #s05 .timeline .time-point::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 3px solid #966F33;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  right: 50%;
  transform: translate(50%);
  transition: all 1s;
}
body #s05 .timeline .time-point .text-center {
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
body #s05 .timeline .time-point .roller_box {
  overflow: hidden;
}
body #s05 .timeline .time-point .roller_box:hover div {
  transform: scale(1.3);
}
body #s05 .s05_left,
body #s05 .time-point > div > .text-center {
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border: 3px solid #966F33;
  border-radius: 7%;
}
body #s08 {
  background-image: url(../images/Feature_News.avif);
}
body #s08 .container .row .col-xxl-6:nth-child(even) .d-flex {
  flex-direction: row-reverse;
}
body #s08 .heroPicBox {
  width: 215px;
  height: 349px;
}
body #s08 #hero_01 {
  background-image: url(../images/Heroes/heroes_classSelect_DK_Static.png);
}
body #s08 #hero_01:hover {
  background-image: url(../images/Heroes/heroes_classSelect_DK_hover.png);
}
body #s08 #hero_02 {
  background-image: url(../images/Heroes/heroes_classSelect_mage_static.png);
}
body #s08 #hero_02:hover {
  background-image: url(../images/Heroes/heroes_classSelect_mage_hover.png);
}
body #s08 #hero_03 {
  background-image: url(../images/Heroes/heroes_classSelect_DH_static.png);
}
body #s08 #hero_03:hover {
  background-image: url(../images/Heroes/heroes_classSelect_DH_hover.png);
}
body #s08 #hero_04 {
  background-image: url(../images/Heroes/heroes_classSelect_druid_static.png);
}
body #s08 #hero_04:hover {
  background-image: url(../images/Heroes/heroes_classSelect_druid_hover.png);
}
body #s08 #hero_05 {
  background-image: url(../images/Heroes/heroes_classSelect_warrior_static.png);
}
body #s08 #hero_05:hover {
  background-image: url(../images/Heroes/heroes_classSelect_warrior_hover.png);
}
body #s08 #hero_06 {
  background-image: url(../images/Heroes/heroes_classSelect_warlock_static.png);
}
body #s08 #hero_06:hover {
  background-image: url(../images/Heroes/heroes_classSelect_warlock_hover.png);
}
body #s08 #hero_07 {
  background-image: url(../images/Heroes/heroes_classSelect_hunter_static.png);
}
body #s08 #hero_07:hover {
  background-image: url(../images/Heroes/heroes_classSelect_hunter_hover.png);
}
body #s08 #hero_08 {
  background-image: url(../images/Heroes/heroes_shaman_tile_static.png);
}
body #s08 #hero_08:hover {
  background-image: url(../images/Heroes/heroes_shaman_tile_hover.png);
}
body #s08 #hero_09 {
  background-image: url(../images/Heroes/heroes_classSelect_priest_static.png);
}
body #s08 #hero_09:hover {
  background-image: url(../images/Heroes/heroes_classSelect_priest_hover.png);
}
body #s08 #hero_10 {
  background-image: url(../images/Heroes/heroes_classSelect_paladin_static.png);
}
body #s08 #hero_10:hover {
  background-image: url(../images/Heroes/heroes_classSelect_paladin_hover.png);
}
body #s08 #hero_11 {
  background-image: url(../images/Heroes/heroes_classSelect_rogue_static.png);
}
body #s08 #hero_11:hover {
  background-image: url(../images/Heroes/heroes_classSelect_rogue_hover.png);
}
body #s09 .container {
  scrollbar-width: none;
  height: 500px;
  overflow: auto;
}
body #s10 textarea.form-control {
  height: 8rem !important;
}
body #s11 .container > .row > :first-child {
  background-image: url(../images/CasualFun.avif);
  height: 500px;
  background-size: cover;
}
body #s11 .container > .row > :last-child {
  background-image: url(../images/CasualFun.avif);
  height: 500px;
  background-size: cover;
  background-position-x: right;
}
body #s13 .card-container {
  perspective: 500px;
  /* 設定透視深度 */
  width: 250px;
  height: 350px;
  margin: 80px auto;
}
body #s13 .card-container .carousel-control-next,
body #s13 .card-container .carousel-control-prev {
  width: 10%;
}
body #s13 .card-container .cards {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  overflow: hidden;
  /* 防止圖片溢出邊框 */
}
body #s13 .card-container .cards .card {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  /* 讓圖片完全覆蓋卡牌 */
}
body #s13 .card-container .cards .card01 {
  background-image: url(../images/cards/Legendary2.png);
}
body #s13 .card-container .cards .card02 {
  background-image: url(../images/cards/Epic.png);
}
body #s13 .card-container .cards .card03 {
  background-image: url(../images/cards/Rare.png);
}
body #s13 .card-container .cards .card04 {
  background-image: url(../images/cards/Common1.png);
}
body #s13 .card-container .cards .card05 {
  background-image: url(../images/cards/Basic.png);
}
body #s14 {
  background-image: url(../images/Feature_News.avif);
}
body #s14 .deck-container {
  display: flex;
  overflow: hidden;
  height: 600px;
  cursor: grab;
  gap: 5px;
}
body #s14 .deck-container .deck {
  width: 220px;
  height: 1000px;
  flex: 0 0 auto;
  background-repeat: no-repeat;
}
body #s14 .deck-container #deck01 {
  background-image: url(../images/decks/Rainbow-DK.webp);
}
body #s14 .deck-container #deck02 {
  background-image: url(../images/decks/Aggro-DH.webp);
}
body #s14 .deck-container #deck03 {
  background-image: url(../images/decks/Big-Shaman.webp);
}
body #s14 .deck-container #deck04 {
  background-image: url(../images/decks/Discover-Hunter.webp);
}
body #s14 .deck-container #deck05 {
  background-image: url(../images/decks/Dungar-Druid.webp);
}
body #s14 .deck-container #deck06 {
  background-image: url(../images/decks/Lynessa-Paladin.webp);
}
body #s14 .deck-container #deck07 {
  background-image: url(../images/decks/Odyn-Warrior.webp);
}
body #s14 .deck-container #deck08 {
  background-image: url(../images/decks/Questline-Warlock.webp);
}
body #s14 .deck-container #deck09 {
  background-image: url(../images/decks/Renathal-Reno-Mage.webp);
}
body #s14 .deck-container #deck10 {
  background-image: url(../images/decks/Shadow-Priest.webp);
}
body #s14 .deck-container #deck11 {
  background-image: url(../images/decks/Starship-Rogue.webp);
}

@media screen and (max-width: 1399px) {
  #s09 video {
    width: 600px;
  }
  #s09 dl dt {
    padding: 0;
  }
}
@media screen and (max-width: 1199px) {
  #s07 video, #s09 video {
    width: 900px;
    position: relative !important;
    transform: translate(-50%, 0) !important;
    top: 0 !important;
    left: 50% !important;
  }
  #s09 .container.container {
    height: 1500px;
  }
}
@media screen and (max-width: 991px) {
  .s05_left {
    margin: 0 auto;
  }
  #s07 video, #s09 video {
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  #s07 video, #s09 video {
    width: 570px;
  }
  #s08 .container .row .col-xxl-6:nth-child(even) .d-flex {
    flex-direction: row;
  }
  #s08 .heroPicBox {
    margin: 0 auto;
  }
  #s09 .container.container {
    height: 100%;
  }
  #s09 dl.wow > dt {
    font-size: 1.3em;
  }
  #s09 dl.wow dl dt {
    text-align: end;
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  #s05#s05 .s05_left {
    border-radius: 0;
    padding-top: 1rem;
  }
  #s05#s05 .timeline::before {
    right: 100%;
    transform: translate(-50%);
  }
  #s05#s05 .timeline .time-point::after {
    top: -5%;
    right: 100%;
    transform: translate(100%);
  }
  #s05#s05 .timeline .time-point:first-child::after {
    top: 0;
  }
  #s05#s05 .timeline .time-point .roller_box {
    margin-bottom: 1rem;
  }
  #s05#s05 .timeline .time-point .animate__bounceInLeft {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50%;
  }
  #s07 video, #s09 video {
    width: 100vw;
  }
}/*# sourceMappingURL=style.css.map */